<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
</head>
<body>
    <%- include('partials/nav.ejs') %>
    <div style="width: 50%;margin-left: auto;margin-right: auto;">
        <form method="post" action="/newBlog" class="form-control form-control-lg">
            <div class="form-group">
                <label for="formGroupExampleInput">Title</label>
                <input name="title" type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter the Title....">
              </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Content</label>
              <textarea name="content" class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Enter the content..."></textarea>
            </div>
            <button class="btn btn-success mt-2">Post</button>
          </form>
    </div>
    
    <%- include("partials/footer.ejs") %>
</body>
</html>